#wrapper {
  text-align:center;
  font-size: 28px
}

body {
  width: 100%;
  background-color: #FCFDAF;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px
}

nav {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  background-color: #F7FFDD;
  font-family: monospace;
  width: inherit;
  text-align: center
}

li {
  display: inline;
  padding: 15px
}

nav li a {
  text-decoration: none;
  color: black
}

button a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  border: 1;
}

#logo {
  height: 40px;
  max-width: 100%;
}

#total-spending{
  display: inline-block;
}
