<h2><%= @merchant.name %></h2>
<p>Spending at merchant: £<%= sprintf("%.2f", @spending_by_merchant) %></p>
<button type="button" name="button"><a href="/money-tracker/merchants/<%= @merchant.id %>/edit">Edit</a></button>
<form action="/money-tracker/merchants/<%= @merchant.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
