
<h2>Tags</h2>

<table>
  <tr>
    <th>Name</th>
    <th>
        <a href="/money-tracker/tags/new">New tag</a>
    </th>
  </tr>
  <% for tag in @tag %>
  <tr>
    <td><a href="/money-tracker/tags/<%= tag.id %>"><%= tag.name %></a></td>
  </tr>
  <% end %>
</table>
