<h2><%= @tag.name %></h2>

<a href="/money-tracker/tags/<%= @tag.id %>/edit">Edit</a>
<form action="/money-tracker/tags/<%= @tag.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
