<h2>Edit <%= @transactions.amount %></h2>
<form method="POST" action="/money-tracker/transactions/<%= @transactions.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="amount">Amount:</label>
      <input type="text" name="name" id="name" value="<%= @transactions.amount %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Edit"/>
    </div>

  </div>
</form>
