<h1>Transactions</h1>

<table>
  <tr>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td>
      <li><a href="/money-tracker/transactions/<%= transaction.id %>"><%= transaction.amount %><%= transaction.merchant.name %><%= transaction.tag.name %></a></td>
      </li>
  </tr>
  <% end %>
</table>
