<h1>Transactions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>
        <a href="/money-tracker/transactions/new">New tag</a>
    </th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><a href="/money-tracker/transactions/<%= transaction.id %>"><%= transaction.amount %></a></td>
    <p>Merchant: <%= transaction.merchant.name %></p>
    <p>Tag: <%= transaction.tag.name %></p>
  </tr>
  <% end %>
</table>
