<h1>Transactions</h1>

<table>
  <tr>
  </tr>
  <% for transaction in @transactions %>
    <tr>

      <div class="transaction">
        <p>Merchant: <%= transaction.merchant.name %></p>
        <p>Tag: <%= transaction.tag.name.capitalize %></p>
        <p>Amount: <%= sprintf("%.2f", transaction.amount) %> </p>
        <a href="/money-tracker/transactions/<%= transaction.id %>">Show transaction</a>
      </div>
  </tr>
  <% end %>
</table>
