<!DOCTYPE html>
<form method="post" action="/money-tracker/transactions/new">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New transaction</title>

  </head>
  <body>

  </body>
</html>
